
<div class="principal-container">
    <section class="section-home">
        <div class="content-container">
            <h1 class="home-title">Singapore's national open data</h1>
            <p class="home-text">Singapore's National Open Data platform offers the public access to government datasets. This website was implemented to facilitate CRUD operations.</p>
            <div class="button-container">
                <a class="button">View Data</a>
            </div>
        </div>
        <div class="img-container">
            <img src="./../../../../assets/img/exploration.png" alt="" class="img-data">
        </div>
    </section>
</div>

