<div class="principal-container">
    <div class="error-container">
        <h1 class="error-message">
            Page not found
        </h1>
        <p class="error-description">
            The page you are looking for might have been removed, had its name changed or is temporarily unavailable.
        </p>
        <div class="button-container">
            <a class="button-home" [routerLink]="'/home'" >Return to the homepage</a>
        </div>
    </div>
    <div class="img-container">
        <img class="img-error" src="./../../../../assets/img/error-404.png" alt="404">
    </div>    
</div>